body {
   margin:  0;
}
@font-face {
   font-family:   "Raleyway";
   src:           url(assets/fonts/raley.woff2);
}

#header-cont {
}

#header-top-info {
   color:               white;
   height:              44px;
   background-color:    #69bd27;
   position:            relative;
   width:               100%;
}
#header-top-info-text {
   padding:             15px;
   position:            absolute;
   top:                 50%;
   transform:           translateY(-50%);
}
#email-link {
   color:               white;
   text-decoration:     none;
}
#family-cape-logo-container {
   position:            relative;
   height:              110px;
   padding:             10px;
   padding-bottom:      1px;
}
#family-cape-logo {
   position:            absolute;
   left:                50%;
   transform:           translateX(-50%);
   width:               279px;
   height:              100px;
}
#family-cape-logo:hover {
   cursor:              pointer;
}
#line-after-logo {
   color:               #eee;
   opacity:             0.5;
}

#top-nav-container {
   width:               100%;
}
#top-nav {
   text-align:          center;
   position:            absolute;
   left:                50%;
   transform:           translateX(-50%);
   /*margin:              0 auto;
   display:             inline-block;*/
}

.nav-item {
   display:             inline;
   padding-left:        20px;
   padding-right:       20px;
   font-family:         "Raleyway";
   font-style:          normal;
   font-weight:         300;
}

.nav-item-selected {
}


