#about-text {
   float:         right;
   width:         50%;
   padding-right: 25px;
   font-family:   Lato;
   margin-left:   20px;
   font-size:     85%;
}
/*#about-text-container {
   float:         right;
   position:      relative;
   width:         50%;
}*/

#travis-pic-container {
   width:         45%;
   position:      relative;
}

#travis-pic {
   padding-left:  16px;
   position:      absolute;
   left:          50%;
   transform:     translateX(-50%);
   float:         left;
   width:         95%;
   /*max-width:     550px;
   max-height:    600px;*/
   max-width:     385px;
   max-height:    420px;
   /*height:  300px;*/
}


#bullet-points > div > a {
   color:               white;
   /*box-shadow: 0px 0px 9px #000;*/
   background-color:    #005a87;
   /*height:              11px;
   width:               11px;*/
   font-size:           150%;
   padding:             5px;
   height:              24px;
   width:               21px;
   border-radius:       50%;
   margin-right:        5px;
   /*padding:             5px;
   padding-bottom:      8px;
   padding-left:        6px;
   margin-right:        5px;*/
   /*padding:             10px;
   padding-left:        7px;
   padding-bottom:      15px;
   padding-right:       15px;
   padding:             10px;*/
   /*display:             inline-block;
   padding:             10px;
   font-size:           150%;*/
}
#bullet-points > div {
   margin:              10px;
}

#who-title {
   font-size:           150%;
}

