#right-pane {
   top:           100px;
   float:         right;
}
#contact-content {
   float:         left;
   width:         50%;
}

#feedback-form {
   width:         50%;
   padding:       20px;
}

#wanna-hear {
   padding-top:   15px;
   font-size:     200%;
   font-family:   Raleyway;
   color:         #00628b;
   padding-bottom:25px;
}

#contact-content {
   margin:        20px;
   /*position:      relative;*/
   position:      absolute;
   left:          50%;
   transform:     translateX(-50%);
}

#contact-info-bold {
   font-weight:   bold;
   padding-bottom:25px;
}
#contact-info-text {}

#contact-intro {
   font-family:   Merriweather;
   font-weight:   20;
   color:         #595959;
   /*text-align:    center;*/
}

#feedback-form {
   /*position:      absolute;*/
   width:         50%;
   padding:       20px;
}

.input-group {
   padding:       12px;
}
#placeholder {
   margin:        20px;
}
#form-first-name {
   border-top-right-radius: 4px;
}
#form-last-name {
   border-top-right-radius: 0px;
}

#feedback-form {
   width:         90%;
   max-width:     650px;
}

#form-email-label, #form-name-label, #form-phone-label, #form-msg-label {
   width:         33%;
}

#form-msg {
   height:        7em;
}

#form-email-group, #form-phone-group, #form-name-group, #form-msg-group {
   width:         70%;
}

#form-submit-btn {
   margin-left:   15px;
}

#form-first-err {
   display:       inline-block;
}

/*#form-first-last-group {
   width:         100%;
}
#form-last, #form-first {
   width:         35%;
}
.form-err {
   width:         30%;
}*/

#form-err {
   color:   red;
}

.bad-field {
   border-color:  red !important;
   border-radius: 2px !important;
   border-style:  solid !important;
}



