

#wanna-hear {
   padding-top:   15px;
   font-size:     200%;
   font-family:   Raleyway;
   color:         #00628b;
   padding-bottom:25px;
}

#contact-content {
   margin:        20px;
}

#contact-info-bold {
   font-weight:   bold;
   padding-bottom:25px;
}
#contact-info-text {

}

#contact-intro {
   font-family:   Merriweather;
   font-weight:   20;
   color:         #595959;
}
