
#footer {
   background-color:    #002245;
   font-size:     90%;
   height:        60px;
   color:         white;
   position:      absolute;
   bottom:        0;
   width:         100%;
   text-align:    center;
}
