
/* start slideshow */
#freedom-slide-text {
   font-size:     120%;
   text-align:    center;
   color:         white;
}


#finance-slide2-line-chart {
   background-color:    #00527b;
   width:               250px;
   height:              200px;
   color:               white;
   text-align:          center;
   vertical-align:      middle;
   padding-top:         50px;
   font-size:           150px;
   border-radius:       50%;
}

/* end slideshow */

#div-featured-in {
   height:              75px;
   background-color:    #00527B;
   position:            relative;
}

#featured-in-text {
   padding-left:        20px;
   font-size:           140%;
   color:               white;
   position:            absolute;
   top:                 50%;
   transform:           translateY(-50%);
   font-family:         "Sorts Mill Goudy";
   font-style:          normal;
}
