/*#slide1 {
   background-image:   url(
}*/

/* start slideshow */
/*#freedom-slide-title {
   padding-left:  30px;
   font-size:     250%;
   text-align:    center;
   color:         white;
}*/
.slide-title {
   width:600px;
   float:right;
   text-align:left;
   color:white;
   font-size:200%;
}
.slide-data {
   width:600px;
   float:right;
   /*text-align:center;*/
   color:white;
   font-size:150%;
}

#freedom-slide-title {
   width:600px;
   float:right;
   text-align:left;
   color:white;
   font-size:200%;
}
#freedom-slide-text {
   width:600px;
   float:right;
   /*text-align:center;*/
   color:white;
   font-size:150%;
}

#finance-slide2-line-chart {
   float:               right;
   margin-right:        30px;
   background-color:    #00527b;
   color:               white;
   text-align:          center;
   vertical-align:      middle;
   /*width:               250px;
   height:              200px;
   padding-top:         50px;
   font-size:           150px;*/
   width:               175px;
   height:              140px;
   padding-top:         35px;
   font-size:           105px;
   border-radius:       50%;
}
/* end slideshow */

#div-featured-in {
   height:              75px;
   background-color:    #00527B;
   position:            relative;
}

#featured-in-text, #featured-img1, #featured-img2 {
   position:            absolute;
   top:                 50%;
   transform:           translateY(-50%);
}
#featured-img1, #featured-img2 {
   height:              45px;
}
#featured-in-text {
   padding-left:        70px;
   padding-right:       30px;
   font-size:           140%;
   color:               white;
   font-family:         "Sorts Mill Goudy";
   font-style:          normal;
   /*display:             inline;*/
}
#featured-img1 { left: 25%; }
#featured-img2 { left: 55%; }


#vid-n-text {
   position:absolute;
   z-index: 10;
   width:   100%;
}
#vid-n-text-placeholder {
   z-index: -10;
   height:  100;
   padding-bottom:      60px;
}

#bottom-video {
   width:         45%;
   /*width:         510px;*/
   min-width:     300px;
   padding-left:  15px;
   float:         left;
   text-align:    center;
   padding-bottom:40px;
}
#bottom-text {
   width:         49%;
   float:         right;
   font-style:    normal;
   font-weight:   400;
   font-family:   "Lato";
   color:         #747474;
}
#bottom-text-title {}
#bottom-text-p1, #bottom-text-p2 {
   /*padding-top:   10px;
   padding-bottom:10px;*/
   padding:       10px;
   padding-left:  0;
   font-family:   "Lato Light";
   font-style:    light;
   font-weight:   10 !important;
   font-size:     90%;
}


