
.slideshow-container {
   background-color:#999;
   position:      relative;
}

/* Slideshow container */
.slides-container {
   height:        500px;
   max-width:     1000px;
   margin:        0 auto;
   margin-left:   none;
   /*position:      absolute;
   position:      relative;
   left:          50%;
   transform:     translateX(-50%);*/
}
/* Next & previous buttons */
.prev-slide, .next-slide {
   cursor:        pointer;
   position:      absolute;
   /*top:           0;*/
   top:           50%;
   transform:     translateY(-50%);
   width:         auto;
   margin-top:    -22px;
   padding:       16px;
   color:         white;
   font-weight:   bold;
   font-size:     18px;
   transition:    0.6s ease;
   border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next-slide {
   right: 0;
   border-radius: 3px 0 0 3px;
}
.slides-container:hover {}
/* On hover, add a black background color with a little bit see-through */
.prev-slide:hover, .next-slide:hover {
   background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.caption-text {
   color: #f2f2f2;
   font-size: 15px;
   padding: 8px 12px;
   position: absolute;
   bottom: 8px;
   width: 100%;
   text-align: center;
}
/* Number text (1/3 etc) */
.mySlides {
   position:      relative;
   display:       none;
}
.numbertext {
   color:         #f2f2f2; /*#999;*/
   padding-bottom:15px;
   font-size:     12px;
   /*padding:       8px 12px;*/
   /*top:           0;*/
   height:        40px;
   width:         40px;
   position:      absolute;
   left:          50%;
   transform      translateX(-50%);
   top:           -10px;
   z-index:       5;
   /*height:        20%;*/
}
.slide-img {
   height:        200px; /* TODO: make this dynamic */
   /*margin:        auto;*/
   top:           55px;
   position:      absolute;
   left:          50%;
   transform:     translateX(-50%);
}
/* The dots/bullets/indicators */
.dot {
   cursor:        pointer;
   height:        13px;
   width:         13px;
   margin:        0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display:       inline-block;
   transition:    background-color 0.6s ease;
}
.active, .dot:hover {
   background-color: #717171;
}
/* Fading animation */
.fade-kk {
   -webkit-animation-name: fade-kk;
   -webkit-animation-duration: 1.5s;
   animation-name: fade-kk;
   animation-duration: 1.5s;
}
@-webkit-keyframes fade-kk {
   from {opacity: .4}
   to {opacity: 1}
}
@keyframes fade-kk {
   from {opacity: .4}
   to {opacity: 1}
}


