<html>
<head>
   <link rel='stylesheet' type='text/css' href='{{ static }}/about.css'>
   <title>Family Cape</title>
</head>
<body>
   {% include "header.html" %}
   <script>selectPage("About")</script>
   <script src='{{static}}/about.js'></script>

   </br></br>

   <div>
      <div id='travis-pic-container'>
         <img id='travis-pic' src="{{static}}/assets/familycape/travis-face.jpg"/>
      </div>

      <!-- <div id='about-text-container'> -->
         <div id='about-text'>
            <div id='who-title'>Who Are We?</div>

            <p>
               As the Director of Financial Planning at Accurate Advisory Group, Travis and his team provide retirees and those planning their retirement with a range of financial planning services. Through the firm based in Wesley Chapel, our team strives to help families secure their lifestyles through smart asset planning and advice on investment strategies, Social Security, 401k accounts, and more.
            </p>

            <p>
               We have presented to countless families at presentation workshops on Social Security, 401k strategies, explanations on annuities, the In’s and Out’s of the brokerage world as well as many other related topics for individuals around the Tampa Bay Area. In addition, he has developed a trusted group of Medicare experts, estate planning attorneys, certified public accountants, and he networks with these professionals in order to extend to his clients the most comprehensive services possible.
            </p>

            <p>
               Travis concentrates on assisting his select families to achieve their retirement and long-term financial goals. He brings a personal approach through strategic relationships with leading money managers and insurance firms, helping clients work toward building and preserving their wealth with asset allocation, modern portfolio theory and systematic rebalancing.
            </p>

            <div id='bullet-points'>
               <div><a></a><a></a>Studied economics at the University of South Florida</div>
               <div><a></a><a></a>Served in both active and reserve capacities for the United States Air National Guard</div>
               <div><a></a><a></a>Active in several civic and charitable organizations, including senior softball leagues, Boy Scouts of America and youth sports</div>
               <div><a></a>“I work with a firm that believes our clients should always come first. That philosophy gives me the freedom to help investors of all portfolio sizes and investment experience.”</div>
            </div>
         </div>
      <!-- </div> -->
   </div>

   {% include "footer.html" %}
</body>
</html>
