<div id='page-content'> <!-- page content -->

<link rel='stylesheet' type='text/css' href='{{static}}/assets/fonts/font-awesome-4.6.3/css/font-awesome.css'>
<link rel='stylesheet' type='text/css' href='{{ static }}/header.css'>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
<script src='{{ static }}/header.js'></script>

<div id='header-cont'>
   <div id='header-top-info'>
      <div id='header-top-info-text'>
         1-800-296-2602 |
         <a id='email-link' href='mailto:Info@BusinessCAPE.com'>Info@BusinessCAPE.com</a>
      </div>
   </div>

   <div id='family-cape-logo-container'>
      <img id='family-cape-logo' src="{{ static }}/assets/familycape/logo.png" alt="Family CAPE"/>
   </div>

   <hr id='line-after-logo'>

   <div id='top-nav-container'>
      <nav id='top-nav'>
         <a class='nav-item' href='{{root}}index'>
            Home
         </a>
         <a class='nav-item' href='{{root}}resources'>
            Resources
         </a>
         <!-- <a class='nav-item' href='{{root}}blog'>
            Blog
         </a> -->
         <a class='nav-item' href='{{root}}about'>
            About
         </a>
         <a class='nav-item' href='{{root}}contact'>
            Contact
         </a>
      </nav>
   </div>
   <hr id='line-after-nav'>

</div>
