<!DOCTYPE html>
<html>
<head>
   <link rel='stylesheet' type='text/css' href='{{ static }}/noscrolled.css'>
   <link rel='stylesheet' type='text/css' href='{{ static }}/index.css'>
</head>
<body>
   <!-- {{ header | safe }} -->
   {% include "header.html" %}
   <link rel='stylesheet' type='text/css' href='{{ static }}/slideshow.css'>
   <script src='{{ static }}/slideshow.js'></script>

   <script src='{{static}}/index.js'></script>
   <script>
      $(function() {
         selectPage("Home");
         currentSlide(1);
         autoRotate(3000);
      });
   </script>

   </br></br>
   <div>
      <div class="slideshow-container">
         <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src="{{static}}/assets/tmpfun/fun1.gif" class='slide-img'>
            <div id='mydata' style='width: 300px'>Hi</div>
            <div class="text">Caption Text</div>
         </div>

         <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="{{static}}/assets/tmpfun/fun2.png" class='slide-img'>
            <div style='width: 300px'>Hello</div>
            <div class="text">Caption Two</div>
         </div>

         <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src="{{static}}/assets/tmpfun/fun3.jpg" class='slide-img'>
            <div style='width: 300px'>Ha</div>
         <div class="text">Caption Three</div>
      </div>

     <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
     <a class="next" onclick="plusSlides(1)">&#10095;</a>
   </div>
   <br>

   <div style="text-align:center">
     <span class="dot" onclick="currentSlide(1)"></span>
     <span class="dot" onclick="currentSlide(2)"></span>
     <span class="dot" onclick="currentSlide(3)"></span>
   </div>

   {% include "footer.html" %}
</body>
</html>
