<!DOCTYPE html>
<html>
<head>
   <title>Family Cape</title>
   <link rel='stylesheet' type='text/css' href='{{ static }}/noscrolled.css'>
   <link rel='stylesheet' type='text/css' href='{{ static }}/index.css'>
</head>
<body>
   <!-- {{ header | safe }} -->
   {% include "header.html" %}
   <link rel='stylesheet' type='text/css' href='{{ static }}/slideshow.css'>
   <script src='{{ static }}/slideshow.js'></script>

   <script src='{{static}}/index.js'></script>
   <script>
      $(function() {
         selectPage("Home");
         currentSlide(1);
         //autoRotate(8000);
      });
   </script>

   </br></br>
   <div class='slideshow-container'>
      </br>
      <div class="slides-container">
         <div class="mySlides fade">
            <div class="numbertext">1 / 3</div></br>

            <div id='freedom-slide-text'>Financial freedom isn't a myth.
            </div>

            <img src="{{static}}/assets/tmpfun/fun1.gif" class='slide-img'>
         </div>

         <div class="mySlides fade">
            <div class="numbertext">2 / 3</div></br>
            <img src="{{static}}/assets/tmpfun/fun2.png" class='slide-img'>

            <i id='finance-slide2-line-chart' class="fa fa-line-chart fontawesome-icon circle-yes"></i>
         </div>

         <div class="mySlides fade">
            <div class="numbertext">3 / 3</div></br>
            <img src="{{static}}/assets/tmpfun/fun3.jpg" class='slide-img'>
            <div class="caption-text">Caption Three</div>
         </div>
      </div>

      <a class="prev-slide" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next-slide" onclick="plusSlides(1)">&#10095;</a>

      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>
   </div>
   </br>

   </br>

   {% include "footer.html" %}
</body>
</html>
