<!DOCTYPE html>
<html>
<head>
   <title>Family Cape</title>
   <!-- <link rel='stylesheet' type='text/css' href='{{ static }}/noscrolled.css'> -->
   <link rel='stylesheet' type='text/css' href='{{ static }}/index.css'>
</head>
<body>
   <!-- {{ header | safe }} -->
   {% include "header.html" %}
   <link rel='stylesheet' type='text/css' href='{{ static }}/slideshow.css'>
   <script src='{{ static }}/slideshow.js'></script>

   <script src='{{static}}/index.js'></script>
   <script>
      $(function() {
         selectPage("Home");
         currentSlide(1);
         //autoRotate(8000);
      });
   </script>

   </br></br>
   <div class='slideshow-container' style='background-image:url({{static}}/assets/familycape/frontpage-blurry-orange-bg.jpg)'>
      <a class="prev-slide" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next-slide" onclick="plusSlides(1)">&#10095;</a>

      </br>
      <div class="slides-container" >

         <div class="mySlides fade" id='slide1'>
            <div class="numbertext">1 / 3</div></br>

            <img src="{{static}}/assets/familycape/frontpage-trav.png" style='left:10px;position:absolute;float:left'>
            <div id='freedom-slide-title'>
               Financial freedom isn't a myth.
            </div>

            </br></br></br>
            <div id='freedom-slide-text'>
               At FamilyCAPE we take an outside of the box approach to personal finance. Rather than closing a sale we focus on providing free comprehensive education. It is important that people learn what they have, why they have it, and how to verify that it is the best way.

            </div>
         </div>

         <div class="mySlides fade">
            <div class="numbertext">2 / 3</div></br>
            <!-- <img src="{{static}}/assets/tmpfun/fun2.png" class='slide-img'> -->
            <div class='slide-title'>Ready to Get Started?</div>
            </br></br>
            <div class='slide-data' style='padding-top:30px'>
               Get my complimentary report, “Tax-Free Income with Life Insurance”, which will explain how you can use the tax benefits of some life insurance policies to create tax-free income.
            </div>

            <i id='finance-slide2-line-chart' class="fa fa-line-chart fontawesome-icon circle-yes"></i>
         </div>

         <div class="mySlides fade">
            <div class="numbertext">3 / 3</div></br>
            <img src="{{static}}/assets/familycape/frontpage-trav.png" style='left:10px;position:absolute;float:left'>
            <div class='slide-data'>
               Hello!  I’m Travis Jennings, Investment Advisor in Wesley Chapel. I want to help you build your financial future using effective tactics and safe strategies.
            </div>

            <!-- <img src="{{static}}/assets/tmpfun/fun3.jpg" class='slide-img'>
            <div class="caption-text">Caption Three</div> -->
         </div>
      </div>

      <div style="text-align:center;bottom:0;position:absolute;left:50%;transform:translateX(-50%);">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>

   </div>

   <div id='div-featured-in'>
      <a id='featured-in-text'>Featured In:</a>
      <img id='featured-img1' src='{{static}}/assets/familycape/usf-white-logo.png'>
      <img id='featured-img2' src='{{static}}/assets/familycape/accurate-advisory-group.png'>
      <!-- <img id='featured-img3' src='{{static}}/assets/familycape/coach_k_small.png' onclick='window.location.href="http://www.thecoachkshow.com/interviewrequest/"'> -->
      <img id='featured-img3' src='{{static}}/assets/familycape/coach2.png' onclick='window.location.href="http://www.thecoachkshow.com/interviewrequest/"'>
   </div>

   </br></br>

   <div id='vid-n-text'>
      <!-- width='42' height='245' -->
      <iframe id='bottom-video' height="245" src="https://www.youtube.com/embed/Dg5RRMAc1GY" frameborder="0" allowfullscreen></iframe>

      <div id='bottom-text'>
         <div id='bottom-text-title'>
            <b>Investment Advisor vs Registered Broker – What’s the Difference?</b>
         </div>
         <div id='bottom-text-p1'>
            Did you know that not all financial advisors have your best interest in mind?  It’s true!  Under the current laws, financial professionals can operate under what’s called the “suitability standard”, which means they are only required to make sure that the investments and/or products they recommend are “suitable” for the client… they’re not required to offer opinions on whether or not it’s truly the best option.
         </div>
         <div id='bottom-text-p2'>
            I operate as a Wesley Chapel Investment Advisor, and so I am held to the “fiduciary standard”, which means that I advise my clients with full transparency and avoid conflicts of interest.  Fiduciary professionals have a duty to keep their client’s best interest in focus at all times, and work to ensure that all the investments and products that are a part of the client’s financial strategy are truly the best options available for the client’s situation and goals.
         </div>
      </div>
      </br></br></br></br>
   </div>

   <div id='vid-n-text-placeholder'>&nbsp;</div>
   <!-- </br></br></br></br></br></br> -->

   {% include "footer.html" %}
</body>
</html>
